# ----------------------------
# Kafka
# ----------------------------

# Addresses of Kafka brokers separated by commas
KAFKA_BROKERS=${ASSEMBLY_KAFKA_BROKERS}

# Name of the topic for "Ship Assembled" events
SHIP_ASSEMBLED_TOPIC_NAME=${ASSEMBLY_SHIP_ASSEMBLED_TOPIC_NAME}

# Name of the topic for "Order Paid" events
ORDER_PAID_TOPIC_NAME=${ASSEMBLY_ORDER_PAID_TOPIC_NAME}

# Consumer group ID for processing "Order Paid" events
ORDER_PAID_CONSUMER_GROUP_ID=${ASSEMBLY_ORDER_PAID_CONSUMER_GROUP_ID}

# ----------------------------
# Logger Settings
# ----------------------------

# Logging level (debug, info, warn, error)
LOGGER_LEVEL=${ASSEMBLY_LOGGER_LEVEL}

# Output logs in JSON format (true/false)
LOGGER_AS_JSON=${ASSEMBLY_LOGGER_AS_JSON}
