# ----------------------------
# gRPC Server Settings
# ----------------------------

# Address on which the gRPC server will listen
GRPC_HOST=${IAM_GRPC_HOST}

# Port on which the gRPC server will run
GRPC_PORT=${IAM_GRPC_PORT}

# ----------------------------
# Logger Settings
# ----------------------------

# Logging level (debug, info, warn, error)
LOGGER_LEVEL=${IAM_LOGGER_LEVEL}

# Output logs in JSON format (true/false)
LOGGER_AS_JSON=${IAM_LOGGER_AS_JSON}

# ----------------------------
# PostgreSQL Settings
# ----------------------------

# Name of the PostgreSQL Docker image (for docker-compose)
POSTGRES_IMAGE_NAME=${IAM_POSTGRES_IMAGE_NAME}

# Internal PostgreSQL host (inside the docker network)
POSTGRES_CONTAINER_HOST=${IAM_POSTGRES_CONTAINER_HOST}

# Internal PostgreSQL port (inside the docker network)
POSTGRES_CONTAINER_PORT=${IAM_POSTGRES_CONTAINER_PORT}

# PostgreSQL host
POSTGRES_HOST=${IAM_POSTGRES_HOST}

# PostgreSQL port
POSTGRES_PORT=${IAM_POSTGRES_PORT}

# Username for connecting to PostgreSQL
POSTGRES_USER=${IAM_POSTGRES_USER}

# Password for connecting to PostgreSQL
POSTGRES_PASSWORD=${IAM_POSTGRES_PASSWORD}

# Database name
POSTGRES_DB=${IAM_POSTGRES_DB}

# SSL connection mode (e.g., disable, require)
POSTGRES_SSL_MODE=${IAM_POSTGRES_SSL_MODE}

# Path to the directory with migrations
MIGRATION_DIRECTORY=${IAM_MIGRATION_DIRECTORY}

# ----------------------------
# Redis Settings
# ----------------------------

# Name of the Redis Docker image (for docker-compose)
REDIS_IMAGE_NAME=${IAM_REDIS_IMAGE_NAME}

# Internal Redis host (inside the docker network)
REDIS_CONTAINER_HOST=${IAM_REDIS_CONTAINER_HOST}

# Internal Redis port (inside the docker network)
REDIS_CONTAINER_PORT=${IAM_REDIS_CONTAINER_PORT}

# Redis host
REDIS_HOST=${IAM_REDIS_HOST}

# Redis port
REDIS_PORT=${IAM_REDIS_PORT}

# Redis connection timeout
REDIS_CONNECTION_TIMEOUT=${IAM_REDIS_CONNECTION_TIMEOUT}

# Maximum number of idle connections in the pool
REDIS_MAX_IDLE=${IAM_REDIS_MAX_IDLE}

# Time after which an idle connection is considered stale
REDIS_IDLE_TIMEOUT=${IAM_REDIS_IDLE_TIMEOUT}

# ----------------------------
# Session Settings
# ----------------------------

# User session lifetime
SESSION_TTL=${IAM_SESSION_TTL}
