# ----------------------------
# gRPC Server Settings
# ----------------------------

# Address on which the gRPC server will listen
GRPC_HOST=${INVENTORY_GRPC_HOST}

# Port on which the gRPC server will run
GRPC_PORT=${INVENTORY_GRPC_PORT}

# ----------------------------
# Logger Settings
# ----------------------------

# Logging level (debug, info, warn, error)
LOGGER_LEVEL=${INVENTORY_LOGGER_LEVEL}

# Output logs in JSON format (true/false)
LOGGER_AS_JSON=${INVENTORY_LOGGER_AS_JSON}

# ----------------------------
# MongoDB Settings
# ----------------------------

# Name of the MongoDB Docker image (for docker-compose)
MONGO_IMAGE_NAME=${INVENTORY_MONGO_IMAGE_NAME}

# Internal MongoDB host (inside the docker network)
MONGO_HOST=${INVENTORY_MONGO_HOST}

# Internal MongoDB port (inside the docker network)
MONGO_PORT=${INVENTORY_MONGO_PORT}

# External MongoDB host (for connections outside the container)
MONGO_EXTERNAL_HOST=${INVENTORY_MONGO_EXTERNAL_HOST}

# External MongoDB port (for connections outside the container)
MONGO_EXTERNAL_PORT=${INVENTORY_MONGO_EXTERNAL_PORT}

# Default database name
MONGO_DATABASE=${INVENTORY_MONGO_INITDB_DATABASE}

# Authentication database
MONGO_AUTH_DB=${INVENTORY_MONGO_AUTH_DB}

# MongoDB root username
MONGO_INITDB_ROOT_USERNAME=${INVENTORY_MONGO_INITDB_ROOT_USERNAME}

# MongoDB root password
MONGO_INITDB_ROOT_PASSWORD=${INVENTORY_MONGO_INITDB_ROOT_PASSWORD}
