# ----------------------------
# Telegram bot settings
# ----------------------------

# Telegram bot token
TELEGRAM_BOT_TOKEN=${NOTIFICATION_TELEGRAM_BOT_TOKEN}

# ----------------------------
# Kafka
# ----------------------------

# Kafka broker addresses separated by commas
KAFKA_BROKERS=${NOTIFICATION_KAFKA_BROKERS}

# Topic name for "Order Paid" events
ORDER_PAID_TOPIC_NAME=${NOTIFICATION_ORDER_PAID_TOPIC_NAME}

# Consumer group ID for processing "Order Paid" events
ORDER_PAID_CONSUMER_GROUP_ID=${NOTIFICATION_ORDER_PAID_CONSUMER_GROUP_ID}

# Topic name for "Ship Assembled" events
SHIP_ASSEMBLED_TOPIC_NAME=${NOTIFICATION_SHIP_ASSEMBLED_TOPIC_NAME}

# Consumer group ID for processing "Ship Assembled" events
SHIP_ASSEMBLED_CONSUMER_GROUP_ID=${NOTIFICATION_SHIP_ASSEMBLED_CONSUMER_GROUP_ID}

# ----------------------------
# Logger settings
# ----------------------------

# Logging level (debug, info, warn, error)
LOGGER_LEVEL=${NOTIFICATION_LOGGER_LEVEL}

# Output logs in JSON format (true/false)
LOGGER_AS_JSON=${NOTIFICATION_LOGGER_AS_JSON}
