# ----------------------------
# gRPC Clients
# ----------------------------

# Host of the Inventory gRPC service
INVENTORY_GRPC_HOST=${ORDER_INVENTORY_GRPC_HOST}

# Port of the Inventory gRPC service
INVENTORY_GRPC_PORT=${ORDER_INVENTORY_GRPC_PORT}

# Host of the Payment gRPC service
PAYMENT_GRPC_HOST=${ORDER_PAYMENT_GRPC_HOST}

# Port of the Payment gRPC service
PAYMENT_GRPC_PORT=${ORDER_PAYMENT_GRPC_PORT}

# ----------------------------
# HTTP Server Settings
# ----------------------------

# Host on which the HTTP server listens
HTTP_HOST=${ORDER_HTTP_HOST}

# HTTP server port
HTTP_PORT=${ORDER_HTTP_PORT}

# HTTP request read timeout
HTTP_READ_TIMEOUT=${ORDER_HTTP_READ_TIMEOUT}

# ----------------------------
# Logger Settings
# ----------------------------

# Logging level (debug, info, warn, error)
LOGGER_LEVEL=${ORDER_LOGGER_LEVEL}

# Output logs in JSON format (true/false)
LOGGER_AS_JSON=${ORDER_LOGGER_AS_JSON}

# ----------------------------
# PostgreSQL Settings
# ----------------------------

# Name of the PostgreSQL Docker image (for docker-compose)
POSTGRES_IMAGE_NAME=${ORDER_POSTGRES_IMAGE_NAME}

# Internal PostgreSQL server host (for internal connections)
POSTGRES_HOST=${ORDER_POSTGRES_HOST}

# Internal PostgreSQL port
POSTGRES_PORT=${ORDER_POSTGRES_PORT}

# External PostgreSQL host (for connections outside the container)
POSTGRES_EXTERNAL_HOST=${ORDER_POSTGRES_EXTERNAL_HOST}

# External PostgreSQL port (for connections outside the container)
POSTGRES_EXTERNAL_PORT=${ORDER_POSTGRES_EXTERNAL_PORT}

# Username for connecting to PostgreSQL
POSTGRES_USER=${ORDER_POSTGRES_USER}

# Password for connecting to PostgreSQL
POSTGRES_PASSWORD=${ORDER_POSTGRES_PASSWORD}

# Database name
POSTGRES_DB=${ORDER_POSTGRES_DB}

# SSL connection mode (e.g., disable, require)
POSTGRES_SSL_MODE=${ORDER_POSTGRES_SSL_MODE}

# Path to the directory with migrations
MIGRATION_DIRECTORY=${ORDER_MIGRATION_DIRECTORY}
