# ----------------------------
# Application Settings
# ----------------------------

# Application environment (dev, test, prod)
APP_ENV=${ORDER_APP_ENV}

# ----------------------------
# gRPC Clients
# ----------------------------

# Host of the Inventory gRPC service
INVENTORY_GRPC_HOST=${ORDER_INVENTORY_GRPC_HOST}

# Port of the Inventory gRPC service
INVENTORY_GRPC_PORT=${ORDER_INVENTORY_GRPC_PORT}

# Host of the Payment gRPC service
PAYMENT_GRPC_HOST=${ORDER_PAYMENT_GRPC_HOST}

# Port of the Payment gRPC service
PAYMENT_GRPC_PORT=${ORDER_PAYMENT_GRPC_PORT}

# Host of the IAM gRPC service
IAM_GRPC_HOST=${ORDER_IAM_GRPC_HOST}

# Port of the IAM gRPC service
IAM_GRPC_PORT=${ORDER_IAM_GRPC_PORT}

# ----------------------------
# HTTP Server Settings
# ----------------------------

# Host on which the HTTP server listens
HTTP_HOST=${ORDER_HTTP_HOST}

# HTTP server port
HTTP_PORT=${ORDER_HTTP_PORT}

# HTTP request read timeout
HTTP_READ_TIMEOUT=${ORDER_HTTP_READ_TIMEOUT}

# ----------------------------
# Kafka Settings
# ----------------------------

# Addresses of Kafka brokers separated by commas
KAFKA_BROKERS=${ORDER_KAFKA_BROKERS}

# Name of the topic for "Order Paid" events
ORDER_PAID_TOPIC_NAME=${ORDER_ORDER_PAID_TOPIC_NAME}

# Name of the topic for "Ship Assembled" events
SHIP_ASSEMBLED_TOPIC_NAME=${ORDER_SHIP_ASSEMBLED_TOPIC_NAME}

# Consumer group ID for processing "Ship Assembled" events
SHIP_ASSEMBLED_CONSUMER_GROUP_ID=${ORDER_SHIP_ASSEMBLED_CONSUMER_GROUP_ID}

# ----------------------------
# Logger Settings
# ----------------------------

# Logging level (debug, info, warn, error)
LOGGER_LEVEL=${ORDER_LOGGER_LEVEL}

# Output logs in JSON format (true/false)
LOGGER_AS_JSON=${ORDER_LOGGER_AS_JSON}

# ----------------------------
# PostgreSQL Settings
# ----------------------------

# Name of the PostgreSQL Docker image (for docker-compose)
POSTGRES_IMAGE_NAME=${ORDER_POSTGRES_IMAGE_NAME}

# Internal PostgreSQL host (inside the docker network)
POSTGRES_CONTAINER_HOST=${ORDER_POSTGRES_CONTAINER_HOST}

# Internal PostgreSQL port (inside the docker network)
POSTGRES_CONTAINER_PORT=${ORDER_POSTGRES_CONTAINER_PORT}

# PostgreSQL host
POSTGRES_HOST=${ORDER_POSTGRES_HOST}

# PostgreSQL port
POSTGRES_PORT=${ORDER_POSTGRES_PORT}

# Username for connecting to PostgreSQL
POSTGRES_USER=${ORDER_POSTGRES_USER}

# Password for connecting to PostgreSQL
POSTGRES_PASSWORD=${ORDER_POSTGRES_PASSWORD}

# Database name
POSTGRES_DB=${ORDER_POSTGRES_DB}

# SSL connection mode (e.g., disable, require)
POSTGRES_SSL_MODE=${ORDER_POSTGRES_SSL_MODE}

# Path to the directory with migrations
MIGRATION_DIRECTORY=${ORDER_MIGRATION_DIRECTORY}
