# ----------------------------
# gRPC Clients
# ----------------------------

# Host of the IAM gRPC service
IAM_GRPC_HOST=${PAYMENT_IAM_GRPC_HOST}

# Port of the IAM gRPC service
IAM_GRPC_PORT=${PAYMENT_IAM_GRPC_PORT}

# ----------------------------
# gRPC Server Settings
# ----------------------------

# Application environment (dev, test, prod)
APP_ENV=${PAYMENT_APP_ENV}

# Address on which the gRPC server will listen
GRPC_HOST=${PAYMENT_GRPC_HOST}

# Port on which the gRPC server will run
GRPC_PORT=${PAYMENT_GRPC_PORT}

# ----------------------------
# Logger Settings
# ----------------------------

# Logging level (debug, info, warn, error)
LOGGER_LEVEL=${PAYMENT_LOGGER_LEVEL}

# Output logs in JSON format (true/false)
LOGGER_AS_JSON=${PAYMENT_LOGGER_AS_JSON}
